{% extends "base_page.html" %}


{% block content %}
<div class="container-sm px-5 py-5" id="term-form">
    <form method="post">
        <div class="row px-5 py-2">
            <h3>Ваши контактные данные</h3>
        </div>
        <div class="row px-5 py-2">
            <div class="col-md-6">
                <label for="name">Ваше имя:</label>
                <input type="text" class="form-control input-lg" name="name" id="name" placeholder="Иван" value required>
            </div>
            <div class="col-md-6">
                <label for="email">Ваш контактный email:</label>
                <input type="text" class="form-control input-lg" name="email" id="email" placeholder="ivan@ivanov.com" value required>
            </div>
        </div>
        <div class="row px-5 py-2">
            <h3>Новая задача</h3>
        </div>
        <div class="row px-5 py-2">
            <div class="col-md-8">
                <label for="new_task">Задача</label>
                <textarea type="text" class="form-control input-lg" name="new_task" id="new_task" aria-describedby="definition_note" rows="3"></textarea>
            </div>
            <div class="col-md-4">
                <label for="new_answer">Ответ</label>
                <input type="text" class="form-control input-lg" name="new_answer" id="new_answer">
            </div>
        </div>
        <div class="row px-5 py-2">
            <button type="submit" class="btn btn-primary" formaction="/send_task">Отправить</button>
        </div>
    </form>
</div>
{% endblock %}