{% extends "base_page.html" %}

{% block page-title %}
Сборник задач по математике
{% endblock %}

{% block content %}
<div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
    <a href="/solve_task">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3"> НАЧАТЬ РЕШАТЬ </button>
    </a>
    <a href="/add_task">
        <button type="button" class="btn btn-outline-secondary btn-lg px-4"> ДОБАВИТЬ ЗАДАЧУ </button>
    </a>
    <a href="/task_list">
        <button type="button" class="btn btn-outline-secondary btn-lg px-4"> СПИСОК ЗАДАЧ </button>
    </a>
</div>
{% endblock %}

