{% extends "base_page.html" %}

{% block content %}
<p class="lead mb-4"> Список задач </p>

<div class="container px-4 py-5" id="tasks-table">
    <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col" class="py-3">#</th>
              <th scope="col" class="py-3">Задача</th>
              <th scope="col" class="py-3">Ответ</th>
            </tr>
          </thead>
          <tbody>
            {% for cnt, task, answer in tasks %}
            <tr>
                <td class="py-3">{{ cnt }}</td>
                <td class="py-3">{{ task }}</td>
                <td class="py-3">{{ answer }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
</div>
{% endblock %}